@import "variables";

// Reset Rule
* {
	margin: 0;
	padding: 0;
	border: 0;
}  // End reset rule

body {
	.body-copy();

	background-image: url("../img/marble-bkg.png");
	background-size: cover;
	background-repeat: no-repeat;
	
	@media (min-width: 850px) {
		background-position: top left;
		background-size: 30% 100vh;
	}  // End min-width 850
}  // End body

.primary-content {
	background-color: #fff;
	height: 85vh;
	margin-top: 15vh;

	@media (min-width: 850px) {
		height: 100vh;
		width: 70%;
		margin: 0 0 0 auto;
	}  // End min-width 850
}  // End .primary-content

header {
	img {
		max-width: 600px;
		width: 90%;
		display: block;
		margin: auto;
		padding: 10% 0;
	}  // End img
}  // End header

main {
	.welcome {
		width: 74%;
		max-width: 600px;
		margin: auto;
		background-color: @teal;
		padding: 8%;
		border-radius: 33px;

		@media (min-width: 1000px) {
			width: 80%;
			padding: 5%;
		}  // End min-width 1000
	} // End .welcome

	.game {
		.one {
			border-radius: 40px 0 0 0;
		}  // End .one

		.two {
			border-radius: 0 40px 0 0;
		}  // End .two

		.three {
			border-radius: 0 0 0 40px;
		}  // End .three

		.four {
			border-radius: 0 0 40px 0;
		}  // .four

		.layer1 {
			display: flex;
			flex-wrap: wrap;
			width: 80%;
			margin: auto;

			.square {
				width: 48%;
				margin: 1%;
				background-color: @light-teal;
				box-sizing: border-box;
				border: 1px @dark-purple solid;

				&:after {
					content: "";
					display: block;
					padding-bottom: 100%;
				}  // End &:after
			}  // End .square

			
		}  // End .layer1
	} // End .game

	.fortune {

	}  // End .fortune
}  // End main