// Color Variables:
@dark-purple: #484960;
@purple: #8d8da7;
@pink: #d5a9cf;
@light-pink: #f2d8e1;
@teal: #80cdcd;
@light-teal: #d5ede7;

// Font:
.body-copy {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: @dark-purple;
	text-align: center;
	line-height: 30px;
}

.bold {
	.body-copy();
	font-weight: 500;
}

// Hide Class:
.hide {
	display: none !important;
}

// Game Square Color Diamond Background
.background {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.animate1 {
	transform: rotatey(45deg);
}

.animate2 {
	transform: rotatex(45deg);
}

.topLeftReveal {
	transform: rotatex(90deg) rotatey(-90deg);
}

.topRightReveal {
	transform: rotatex(90deg) rotatey(90deg);
}

.bottomLeftReveal {
	transform: rotatex(-90deg) rotatey(90deg);
}

.bottomRightReveal {
	transform: rotatex(-90deg) rotatey(-90deg);
}

@keyframes fade-in {
	from { opacity: 0; } to { opacity: 1; }
}

.fadeIn {
	opacity: 0;
	animation: fade-in ease-in 1;

	animation-fill-mode: forwards;

	animation-duration: 0.5s;
}