// Color Variables:
@dark-purple: #484960;
@purple: #8d8da7;
@pink: #d5a9cf;
@light-pink: #f2d8e1;
@teal: #80cdcd;
@light-teal: #d5ede7;

// Font:
.body-copy {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: @light-teal;
}

.bold {
	.body-copy();
	font-weight: 500;
}